extends ../layout


block content

    a(href='/bicicletas/create') NUEVA BICICLETA

    table.table
            thead
                tr
                    th #
                    th color
                    th modelo
                    th ubicacion
                    th 
            tbody
                each bici in bicis
                    tr 
                        td=bici.id
                        td=bici.color 
                        td=bici.modelo
                        td=bici.ubicacion
                        td 
                            form.inline( method='post' action="/bicicletas/"+bici.id+"/delete" )
                                input.btn(type='hidden' name='id' value=bici.id)
                                button.link-button(type='submit' name='submit_param' value='submit_value' class='btn')
                                    ='ELIMINAR'


